In [10]:
from dbfread import DBF
import pandas as pd
from pandas import DataFrame
from itertools import chain

In [7]:
# create a df for the first day
dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main20221226\prism-main\output\PRISM_vpdmax_stable_4kmD2_"+str(20130701)+".dbf")
frame = DataFrame(iter(dbf))
frame['date_num']=day
frame_all=frame
frame_all

,GAGE_ID,ZONE_CODE,COUNT,AREA,MIN,MAX,RANGE,MEAN,STD,SUM,date_num
0,06235500,1,312,0.541667,12.634000,42.471001,29.837001,30.479554,8.516481,9509.620990,20130702
1,06236100,2,423,0.734375,13.630000,43.875999,30.245999,27.207475,7.629130,11508.762003,20130702
2,06239000,3,119,0.206597,28.830999,45.313999,16.483000,36.680387,3.612319,4364.966003,20130702
3,06244500,4,23,0.039931,28.966999,35.778999,6.812000,32.675522,1.941348,751.537003,20130702
4,06253000,5,49,0.085069,35.113998,44.845001,9.731003,39.073796,2.078467,1914.616005,20130702
...,...,...,...,...,...,...,...,...,...,...,...
632,10259100,633,37,0.064236,30.549000,75.929001,45.380001,65.715730,10.977240,2431.482018,20130702
633,10301600,634,15,0.026042,54.673000,69.046997,14.373997,64.344866,4.147989,965.172997,20130702
634,10301745,635,12,0.020833,58.383999,68.843002,10.459003,64.576500,3.218968,774.917999,20130702
635,11337600,636,11,0.019097,41.070999,50.648998,9.577999,48.736455,2.579554,536.101002,20130702
636,11447293,637,12,0.020833,64.305000,69.945999,5.640999,67.265501,1.811121,807.186012,20130702

In [8]:
for day in range(20130702,20130731):
    dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main20221226\prism-main\output\PRISM_vpdmax_stable_4kmD2_"+str(day)+".dbf")
#        dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main\PRISM_tmax_stable_4kmD2_"+str(20210830)+".dbf")
    frame = DataFrame(iter(dbf))
    frame['date_num']=day
    frame_all=frame_all.append(frame)
    
frame_all['date'] = pd.to_datetime(frame_all['date_num'], format='%Y%m%d')
    
print(day,frame_all)

20130730       GAGE_ID  ZONE_CODE  COUNT      AREA        MIN        MAX      RANGE  \
0    06235500          1    312  0.541667  12.634000  42.471001  29.837001
1    06236100          2    423  0.734375  13.630000  43.875999  30.245999
2    06239000          3    119  0.206597  28.830999  45.313999  16.483000
3    06244500          4     23  0.039931  28.966999  35.778999   6.812000
4    06253000          5     49  0.085069  35.113998  44.845001   9.731003
..        ...        ...    ...       ...        ...        ...        ...
632  10259100        633     37  0.064236  19.971001  65.755997  45.784996
633  10301600        634     15  0.026042  37.825001  48.705002  10.880001
634  10301745        635     12  0.020833  39.694000  48.780998   9.086998
635  11337600        636     11  0.019097  13.136000  20.910999   7.775000
636  11447293        637     12  0.020833  26.410999  31.850000   5.439001

          MEAN        STD           SUM  date_num       date
0    30.479554   8.516481   9509.620990  20130702 2013-07-02
1    27.207475   7.629130  11508.762003  20130702 2013-07-02
2    36.680387   3.612319   4364.966003  20130702 2013-07-02
3    32.675522   1.941348    751.537003  20130702 2013-07-02
4    39.073796   2.078467   1914.616005  20130702 2013-07-02
..         ...        ...           ...       ...        ...
632  48.045676  13.491199   1777.690002  20130730 2013-07-30
633  45.004934   3.382889    675.074009  20130730 2013-07-30
634  45.017583   2.879373    540.210999  20130730 2013-07-30
635  16.693545   2.226068    183.628996  20130730 2013-07-30
636  29.502333   1.514020    354.027998  20130730 2013-07-30

[19110 rows x 12 columns]

In [ ]:
savd pd pf

In [19]:
res = chain(range(20130701,20130731+1),
            range(20130801,20130831+1) )

for i in res:
    print(i)

20130701
20130702
20130703
20130704
20130705
20130706
20130707
20130708
20130709
20130710
20130711
20130712
20130713
20130714
20130715
20130716
20130717
20130718
20130719
20130720
20130721
20130722
20130723
20130724
20130725
20130726
20130727
20130728
20130729
20130730
20130731
20130801
20130802
20130803
20130804
20130805
20130806
20130807
20130808
20130809
20130810
20130811
20130812
20130813
20130814
20130815
20130816
20130817
20130818
20130819
20130820
20130821
20130822
20130823
20130824
20130825
20130826
20130827
20130828
20130829
20130830
20130831