Load packages

In [1]:
from dbfread import DBF
import pandas as pd
from pandas import DataFrame
from itertools import chain

In [11]:
# create a df for the first day
day=20150701
yr=2015
dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main20221226\prism-main\output\PRISM_vpdmax_stable_4kmD2_"+str(day)+".dbf")
frame = DataFrame(iter(dbf))
frame['date_num']=day
frame_all=frame
frame_all

,GAGE_ID,ZONE_CODE,COUNT,AREA,MIN,MAX,RANGE,MEAN,STD,SUM,date_num
0,06235500,1,312,0.541667,14.427000,38.431000,24.004000,31.417631,6.439248,9802.300981,20150701
1,06236100,2,423,0.734375,12.623000,37.799000,25.176000,26.105759,7.369922,11042.736001,20150701
2,06239000,3,119,0.206597,30.743000,39.930000,9.187000,35.467975,1.605919,4220.689001,20150701
3,06244500,4,23,0.039931,29.608999,35.960999,6.351999,33.289304,1.774999,765.653997,20150701
4,06253000,5,49,0.085069,34.734001,39.858002,5.124001,36.585531,0.964246,1792.691017,20150701
...,...,...,...,...,...,...,...,...,...,...,...
632,10259100,633,37,0.064236,19.216999,58.910000,39.693001,45.011243,11.956283,1665.416000,20150701
633,10301600,634,15,0.026042,46.424999,59.518002,13.093002,54.729133,3.972479,820.937000,20150701
634,10301745,635,12,0.020833,48.537998,59.541000,11.003002,55.317500,3.474464,663.809998,20150701
635,11337600,636,11,0.019097,46.625999,61.146000,14.520000,56.711727,3.780325,623.828995,20150701
636,11447293,637,12,0.020833,67.870003,71.593002,3.723000,69.980417,1.106760,839.765007,20150701

In [12]:
res = chain(range(yr*10000+701, yr*10000+ 731+1),
            range( yr*10000+ 801, yr*10000+ 829+1) )

for day in res:
    dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main20221226\prism-main\output\PRISM_vpdmax_stable_4kmD2_"+str(day)+".dbf")
    frame = DataFrame(iter(dbf))
    frame['date_num']=day
    frame_all=frame_all.append(frame)
    
frame_all['date'] = pd.to_datetime(frame_all['date_num'], format='%Y%m%d')
    
print(day,frame_all)

20150829       GAGE_ID  ZONE_CODE  COUNT      AREA        MIN        MAX      RANGE  \
0    06235500          1    312  0.541667  14.427000  38.431000  24.004000
1    06236100          2    423  0.734375  12.623000  37.799000  25.176000
2    06239000          3    119  0.206597  30.743000  39.930000   9.187000
3    06244500          4     23  0.039931  29.608999  35.960999   6.351999
4    06253000          5     49  0.085069  34.734001  39.858002   5.124001
..        ...        ...    ...       ...        ...        ...        ...
632  10259100        633     37  0.064236  21.341000  80.075996  58.734997
633  10301600        634     15  0.026042  36.796001  44.965000   8.168999
634  10301745        635     12  0.020833  37.511002  45.075001   7.563999
635  11337600        636     11  0.019097  35.615002  49.692001  14.077000
636  11447293        637     12  0.020833  54.886002  59.224998   4.338997

          MEAN        STD           SUM  date_num       date
0    31.417631   6.439248   9802.300981  20150701 2015-07-01
1    26.105759   7.369922  11042.736001  20150701 2015-07-01
2    35.467975   1.605919   4220.689001  20150701 2015-07-01
3    33.289304   1.774999    765.653997  20150701 2015-07-01
4    36.585531   0.964246   1792.691017  20150701 2015-07-01
..         ...        ...           ...       ...        ...
632  57.638000  17.332517   2132.606010  20150829 2015-08-29
633  42.263467   2.509094    633.952003  20150829 2015-08-29
634  41.875250   2.146966    502.503006  20150829 2015-08-29
635  45.504637   3.941765    500.551003  20150829 2015-08-29
636  57.309333   1.306351    687.711998  20150829 2015-08-29

[38857 rows x 12 columns]

In [13]:
frame_all['GAGE_ID']=frame_all['GAGE_ID'].astype('str')

#savd pd pf
frame_all.to_csv('frame_all_2015.csv', index=False)