In [22]:
from dbfread import DBF
import pandas as pd
from pandas import DataFrame
from itertools import chain

In [24]:
# create a df for the first day
day=20140701
dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main20221226\prism-main\output\PRISM_vpdmax_stable_4kmD2_"+str(20140701)+".dbf")
frame = DataFrame(iter(dbf))
frame['date_num']=day
frame_all=frame
frame_all

,GAGE_ID,ZONE_CODE,COUNT,AREA,MIN,MAX,RANGE,MEAN,STD,SUM,date_num
0,06235500,1,312,0.541667,11.343000,28.819000,17.476000,22.215061,4.873615,6931.099011,20140701
1,06236100,2,423,0.734375,9.658000,27.413000,17.755000,18.393844,5.040848,7780.596013,20140701
2,06239000,3,119,0.206597,19.577999,27.277000,7.699001,24.245857,1.472936,2885.257004,20140701
3,06244500,4,23,0.039931,20.024000,25.200001,5.176001,23.003956,1.519776,529.090998,20140701
4,06253000,5,49,0.085069,24.167000,27.172001,3.005001,25.713469,0.541616,1259.960005,20140701
...,...,...,...,...,...,...,...,...,...,...,...
632,10259100,633,37,0.064236,27.554001,59.929001,32.375000,49.057811,9.675386,1815.138996,20140701
633,10301600,634,15,0.026042,46.233002,55.119999,8.886997,51.424933,2.737586,771.374001,20140701
634,10301745,635,12,0.020833,47.084000,54.816002,7.732002,51.293417,2.139569,615.521004,20140701
635,11337600,636,11,0.019097,47.639000,58.459999,10.820999,54.724272,2.866448,601.966995,20140701
636,11447293,637,12,0.020833,61.925999,65.830002,3.904003,64.257167,0.999271,771.086006,20140701

In [26]:
res = chain(range(20140701,20140731+1),
            range(20140801,20140829+1) )

for day in res:
    dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main20221226\prism-main\output\PRISM_vpdmax_stable_4kmD2_"+str(day)+".dbf")
#        dbf = DBF(r"C:\Users\taohuang\Downloads\prism-main\PRISM_tmax_stable_4kmD2_"+str(20210830)+".dbf")
    frame = DataFrame(iter(dbf))
    frame['date_num']=day
    frame_all=frame_all.append(frame)
    
frame_all['date'] = pd.to_datetime(frame_all['date_num'], format='%Y%m%d')
    
print(day,frame_all)

20140829       GAGE_ID  ZONE_CODE  COUNT      AREA        MIN        MAX      RANGE  \
0    06235500          1    312  0.541667  11.343000  28.819000  17.476000
1    06236100          2    423  0.734375   9.658000  27.413000  17.755000
2    06239000          3    119  0.206597  19.577999  27.277000   7.699001
3    06244500          4     23  0.039931  20.024000  25.200001   5.176001
4    06253000          5     49  0.085069  24.167000  27.172001   3.005001
..        ...        ...    ...       ...        ...        ...        ...
632  10259100        633     37  0.064236  26.121000  82.446999  56.325998
633  10301600        634     15  0.026042  39.654999  48.556000   8.901001
634  10301745        635     12  0.020833  41.601002  48.936001   7.334999
635  11337600        636     11  0.019097  34.458000  41.042000   6.584000
636  11447293        637     12  0.020833  47.582001  51.043999   3.461998

          MEAN        STD          SUM  date_num       date
0    22.215061   4.873615  6931.099011  20140701 2014-07-01
1    18.393844   5.040848  7780.596013  20140701 2014-07-01
2    24.245857   1.472936  2885.257004  20140701 2014-07-01
3    23.003956   1.519776   529.090998  20140701 2014-07-01
4    25.713469   0.541616  1259.960005  20140701 2014-07-01
..         ...        ...          ...       ...        ...
632  57.239568  15.871118  2117.864000  20140829 2014-08-29
633  46.029267   2.463987   690.438999  20140829 2014-08-29
634  46.377000   2.248961   556.524002  20140829 2014-08-29
635  38.179727   1.990868   419.976994  20140829 2014-08-29
636  49.452167   1.141344   593.426003  20140829 2014-08-29

[57967 rows x 12 columns]

In [27]:
#savd pd pf
frame_all.to_csv('frame_all.csv', index=False)